@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&family=Source+Sans+Pro:wght@400;700&display=swap"); /* Josh's Custom CSS Reset 
https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove animations preference */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "JetBrains Mono", monospace;
}

.sans {
  font-family: "Source Sans Pro", sans-serif;
}

.styled-input {
  border-radius: 0;
  box-shadow: none;
  border: var(--border);
  background-color: var(--color-bg);
}
.styled-input:focus {
  outline: var(--border);
}

.styled-button {
  border-radius: 0;
  box-shadow: none;
  border: var(--border);
  background-color: var(--color-bg);
}
.styled-button:hover {
  filter: brightness(0.93);
}
.styled-button:active {
  filter: brightness(0.85);
  outline: var(--border);
}

form select {
  border: var(--border);
  background-color: var(--color-bg);
  padding-inline: 0.25em;
  /* needed */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* SVG background image */
  background-image: url("../svg/arrow.svg");
  background-size: var(--drem);
  background-position: calc(100% - 0.25em) center;
  background-repeat: no-repeat;
}
form select:focus {
  outline: var(--border);
}

* {
  scrollbar-width: thin;
}

.item {
  -webkit-border-after: var(--border);
          border-block-end: var(--border);
}
.item__head {
  display: flex;
  align-items: center;
  -webkit-backdrop-filter: brightness(0.95);
          backdrop-filter: brightness(0.95);
}
.item__head__expand {
  -webkit-padding-start: calc(var(--drem));
          padding-inline-start: calc(var(--drem));
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item__head .add,
.item__head .remove,
.item__head .expand {
  box-sizing: content-box;
  height: var(--drem);
  width: var(--drem);
  padding: var(--drem);
  transition: rotate var(--time-medium) ease-in-out, -webkit-backdrop-filter var(--time-fast) ease-out;
  transition: rotate var(--time-medium) ease-in-out, backdrop-filter var(--time-fast) ease-out;
  transition: rotate var(--time-medium) ease-in-out, backdrop-filter var(--time-fast) ease-out, -webkit-backdrop-filter var(--time-fast) ease-out;
}
.item__head .styled-input {
  height: calc(var(--drem) * 1.5);
  width: calc(var(--drem) * 4);
  margin-inline: var(--drem);
}
.item__head > * {
  transition: -webkit-backdrop-filter var(--time-fast) ease-out;
  transition: backdrop-filter var(--time-fast) ease-out;
  transition: backdrop-filter var(--time-fast) ease-out, -webkit-backdrop-filter var(--time-fast) ease-out;
}
.item__head > *:hover {
  -webkit-backdrop-filter: brightness(0.9);
          backdrop-filter: brightness(0.9);
  cursor: pointer;
}
.item__head > *:hover .styled-input {
  -webkit-backdrop-filter: brightness(0.9);
          backdrop-filter: brightness(0.9);
  cursor: pointer;
}
.item__body {
  padding-inline: var(--drem);
  padding-block: calc(var(--drem) / 2);
  transition: max-height var(--time-medium) ease-out;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--drem);
}
.item__body img {
  height: calc(var(--drem) * 2);
  bottom: 0;
  z-index: 1;
}
.item__body__stats {
  padding-inline: calc(var(--drem));
}
.item.expanded .expand {
  rotate: 180deg;
}
.item.expanded .item__body {
  padding: var(--drem);
  grid-template-columns: auto;
}
.item.expanded img {
  max-height: calc(var(--drem) * 16);
  height: unset;
}

:root {
  --max-width: 1200px;
  --drem: 1rem;
  --color-bg: hsl(30, 100%, 90%);
  --color-bg-dark: hsl(180, 100%, 90%);
  --color-bg-bright: hsl(0, 0%, 100%);
  --color-text: #222;
  --border: 1px solid var(--color-text);
  --fs-m: var(--drem);
  --fs-l: calc(var(--drem) * 1.5);
  --fs-xl: calc(var(--drem) * 2);
  --fs-xxl: calc(var(--drem) * 3);
  --time-fast: 100ms;
  --time-medium: 200ms;
}
@media screen and (max-width: 800px) {
  :root {
    --drem: 0.875rem;
  }
}
@media screen and (max-width: 500px) {
  :root {
    --drem: 0.75rem;
  }
}

* {
  color: var(--color-text);
}

*::-moz-selection {
  background-color: var(--color-text);
  color: var(--color-bg);
}

*::selection {
  background-color: var(--color-text);
  color: var(--color-bg);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: var(--fs-m);
  background-color: var(--color-bg);
}

header {
  display: flex;
  justify-content: center;
  border-bottom: var(--border);
  padding: var(--drem);
  background-color: var(--color-bg-dark);
}
header h1 {
  font-size: var(--fs-xxl);
}

main {
  padding: var(--drem);
}
main > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: var(--drem);
  min-height: 100%;
  margin-inline: auto;
  max-width: var(--max-width);
}
@media screen and (max-width: 800px) {
  main > div {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }
  main > div section:first-of-type {
    grid-row: 2/-1;
  }
}
main > div > section {
  border: var(--border);
  background-color: var(--color-bg-bright);
}

.results-section form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--drem) / 2);
  padding: var(--drem);
  border-bottom: var(--border);
}
.results-section form .search-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.results-section form .search-wrapper label {
  font-size: var(--fs-l);
  line-height: 0.8;
}
.results-section form .search-wrapper input {
  flex-grow: 1;
}
.results-section form .sort-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.results-section form .sort-wrapper select {
  flex-grow: 1;
}
.results-section .results {
  display: flex;
  flex-direction: column;
}

.collection-section__header {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border);
  padding: var(--drem);
}
.collection-section h2 {
  font-size: var(--fs-l);
  font-weight: normal;
  line-height: 1;
}

footer {
  display: flex;
  justify-content: center;
  border-top: var(--border);
  padding: var(--drem);
  background-color: var(--color-bg-dark);
}/*# sourceMappingURL=main.css.map */