* {
  color: var(--color-text);
}

*::selection {
  background-color: var(--color-text);
  color: var(--color-bg);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: var(--fs-m);
  background-color: var(--color-bg);
}

header {
  display: flex;
  justify-content: center;
  border-bottom: var(--border);
  padding: var(--drem);
  background-color: var(--color-bg-dark);

  h1 {
    font-size: var(--fs-xxl);
  }
}

main {
  padding: var(--drem);

  > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--drem);
    min-height: 100%;
    margin-inline: auto;
    max-width: var(--max-width);

    @media screen and (max-width: 800px) {
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;

      section:first-of-type {
        grid-row: 2 / -1;
      }
    }

    > section {
      border: var(--border);
      background-color: var(--color-bg-bright);
    }
  }
}

.results-section {
  form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--drem) / 2);
    padding: var(--drem);
    border-bottom: var(--border);

    .search-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      label {
        font-size: var(--fs-l);
        line-height: 0.8;
      }
      input {
        flex-grow: 1;
      }
    }

    .sort-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      select {
        flex-grow: 1;
      }
    }
  }

  .results {
    display: flex;
    flex-direction: column;
  }
}

.collection-section {
  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border);
    padding: var(--drem);

    h2 {
      font-size: var(--fs-l);
      font-weight: normal;
      line-height: 1;
    }
  }
  &__stats {
    padding: var(--drem);
    border-bottom: var(--border);

    ul {
      padding: 0;
      list-style-type: square;
      font-size: calc(var(--drem) * 1.125);
    }

    li {
      margin-inline-start: calc(var(--drem) * 1);
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  border-top: var(--border);
  padding: var(--drem);
  background-color: var(--color-bg-dark);
}
