.styled-input {
  border-radius: 0;
  box-shadow: none;
  border: var(--border);
  background-color: var(--color-bg-bright);

  &:focus {
    outline: var(--border);
  }
}

.styled-button {
  border-radius: 0;
  box-shadow: none;
  border: var(--border);
  background-color: var(--color-bg-bright);

  &:hover {
    filter: brightness(0.93);
  }

  &:active {
    filter: brightness(0.85);
    outline: var(--border);
  }
}

form select {
  border: var(--border);
  background-color: var(--color-bg-bright);
  padding-inline: 0.25em;
  /* needed */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* SVG background image */
  background-image: url("../svg/arrow.svg");
  background-size: var(--drem);
  background-position: calc(100% - 0.25em) center;
  background-repeat: no-repeat;

  &:focus {
    outline: var(--border);
  }
}
