.item {
  border-block-end: var(--border);

  &__head {
    display: flex;
    align-items: center;
    backdrop-filter: brightness(0.95);

    &__expand {
      padding-inline-start: calc(var(--drem));
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .add,
    .remove,
    .expand {
      box-sizing: content-box;
      height: var(--drem);
      width: var(--drem);
      padding: var(--drem);
      transition: rotate var(--time-medium) ease-in-out, backdrop-filter var(--time-fast) ease-out;
    }
    .styled-input {
      height: calc(var(--drem) * 1.5);
      width: calc(var(--drem) * 4);
      margin-inline: var(--drem);
    }
    > * {
      transition: backdrop-filter var(--time-fast) ease-out;

      &:hover {
        backdrop-filter: brightness(0.9);
        cursor: pointer;
      }
      &:hover .styled-input {
        backdrop-filter: brightness(0.9);
        cursor: pointer;
      }
      &:active {
        backdrop-filter: brightness(0.75);
      }
    }
  }
  &__body {
    padding-inline: var(--drem);
    padding-block: calc(var(--drem) / 2);
    transition: max-height var(--time-medium) ease-out;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    img {
      height: calc(var(--drem) * 2);
      bottom: 0;
      z-index: 1;
    }
  }
  &__stats {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: square;
    font-size: calc(var(--drem) * 0.875);

    li {
      margin-inline-start: calc(var(--drem) * 1.5);
    }
  }
  &__info {
    display: none;

    hr {
      background-color: rgb(205, 205, 205);
      height: 3px;
      border-radius: 10px;
      border: none;
    }
  }

  &.expanded {
    .expand {
      rotate: 180deg;
    }
    .item__body {
      padding: var(--drem);
      grid-template-columns: auto;
      gap: var(--drem);
    }
    img {
      max-height: calc(var(--drem) * 16);
      height: unset;
    }
    .item__stats {
      grid-row: 1 / 2;
      font-size: var(--drem);
      li:first-child {
        margin-inline-start: var(--drem);
      }
    }
    .item__info {
      display: flex;
      flex-direction: column;
      gap: var(--drem);
    }
  }
}
