.item {
  border-block-end: var(--border);

  &__head {
    display: flex;
    align-items: center;
    backdrop-filter: brightness(0.95);

    &__expand {
      padding-inline-start: calc(var(--drem));
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .add,
    .remove,
    .expand {
      box-sizing: content-box;
      height: var(--drem);
      width: var(--drem);
      padding: var(--drem);
      transition: rotate var(--time-medium) ease-in-out, backdrop-filter var(--time-fast) ease-out;
    }
    .styled-input {
      height: calc(var(--drem) * 1.5);
      width: calc(var(--drem) * 4);
      margin-inline: var(--drem);
    }
    > * {
      transition: backdrop-filter var(--time-fast) ease-out;

      &:hover {
        backdrop-filter: brightness(0.9);
        cursor: pointer;
      }
      &:hover .styled-input {
        backdrop-filter: brightness(0.9);
        cursor: pointer;
      }
    }
  }
  &__body {
    padding-inline: var(--drem);
    padding-block: calc(var(--drem) / 2);
    transition: max-height var(--time-medium) ease-out;
    display: flex;
    align-items: center;
    gap: var(--drem);

    &__facts {
      padding-inline: calc(var(--drem));
    }
  }
  img {
    height: calc(var(--drem) * 2);
    bottom: 0;
    z-index: 1;
  }

  &.expanded {
    .expand {
      rotate: 180deg;
    }

    .item__body {
      padding: var(--drem);
      flex-direction: column;
      align-items: flex-start;
    }

    img {
      max-height: calc(var(--drem) * 16);
      height: unset;
    }
  }
}
