.result {
  border-block-end: var(--border);

  &__head {
    display: flex;

    &__expand {
      padding-inline-start: calc(var(--drem) / 2);
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    input {
      box-sizing: content-box;
      height: var(--drem);
      width: var(--drem);
      padding: calc(var(--drem) / 2);
    }
    > * {
      transition: var(--time-fast) ease-out;

      &:hover {
        backdrop-filter: brightness(0.9);
        cursor: pointer;
      }
    }
  }

  &__body {
    padding-inline: calc(var(--drem) / 2);
  }
}
